<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<link rel="stylesheet" type="text/css" href="../static/Fw_reset.css" />
		<link rel="stylesheet" href="../static/font-awesome-4.7.0/css/font-awesome.min.css" />
		<link rel="stylesheet" type="text/css" href="../static/Fw_headandfoot.css" />
		<link rel="stylesheet" href="../static/Fw_middle.css" />
		<link rel="stylesheet" type="text/css" href="../static/Fw_bottom.css" />
		<link rel="stylesheet" type="text/css" href="../static/Fw_right.css"/>
		<title>{{main_info_html[0]}}</title>
	</head>

	<body>
		<div class="page">
			<div id="shop_tab">
				<div id="shop_tab_con">
					<div id="vip">
						<img src="../static/img/vip.png" alt="会员权益" />
					</div>
					<div id="shop_tab_cart">
						<i class="fa fa-shopping-cart red st_cart_fa"></i>
						<p class="shop_tab_font">购物车</p>
					</div>
					<div id="shop_tab_asset" class="shop_tab_fa">
						<i class="fa fa-cny col"></i>
					</div>
					<div id="shop_tab_asset" class="shop_tab_fa">
						<i class="fa fa-star-o col"></i>
					</div>
					<div id="shop_tab_foot" class="shop_tab_fa">
						<i class="fa fa-history col"></i>
					</div>
				</div>
				<div id="shop_tab_down">
					<div id="shop_tab_ue" class="shop_tab_fa">
						<i class="fa fa-pencil-square-o col"></i>
					</div>
					<div id="shop_tab_qrcode" class="shop_tab_fa">
						<i class="fa fa-qrcode col"></i>
					</div>
					<div id="shop_tab_backtop" class="shop_tab_fa">
						<i class="fa fa-caret-up col"></i>
						<p class="col">TOP</p>
					</div>
				</div>
			</div>
			<header>
				<div id="site_nav">
					<div id="sn_container">
						<p class="sn_back-home">
							<i class="fa fa-home red" id="homefa"></i>
							<a href="/">天猫首页</a>
						</p>
						<p id="login-info" class="sn_login_info">
							<em>喵，欢迎来天猫</em>
							<a href="#">请登录</a>
							<a href="#">免费注册</a>
						</p>
						<ul class="sn_quick-menu">
							<li class="mytaobao">
								<a href="#">我的淘宝<b></b></a>
							</li>
							<li class="mini-cart">
								<a href="#"><i class="fa fa-shopping-cart red menufa"></i>购物车<strong>0</strong>件</a>
							</li>
							<li class="favorite">
								<a href="#">收藏夹<b></b></a>
							</li>
							<li class="separator">|</li>
							<li class="mobile">
								<a href="#"><i class="fa fa-mobile red menufa"></i>手机版</a>
							</li>
							<li class="home">
								<a href="#">淘宝网</a>
							</li>
							<li class="seller">
								<a href="#">商家支持<b></b></a>
							</li>
							<li class="sitemap">
								<a href="#"><i class="fa fa-list-ul red menufa"></i>网站导航<b></b></a>
							</li>
						</ul>
					</div>
				</div>
				<div id="header_con">
					<div class="mall-logo"><img src="../static/img/Tmall-logo.png" /></div>
					<div id="shop_extra">
						<div class="slogo">
							<a href="#"><strong>{{main_info_html[3]}}</strong></a>

							<div class="slogo_extraicon">
								<span class="flagship-icon">
									<span class="flagship-icon-font">品牌直销</span>
								</span>
								<img src="../static/img/T11lggFoXcXXc1v.nr-93-93.png" />
							</div>
						</div>
						<div class="main-info">
							<div class="shop_info">
								<div class="shopdsr-item">
									<div class="shopdsr-title">
										描 述
									</div>
									<div class="shopdsr-score">
										<span class="shopdsr-score-con">4.9</span>
										<i class="fa fa-arrow-up red ss-up"></i>
									</div>
								</div>
								<div class="shopdsr-item">
									<div class="shopdsr-title">
										服 务
									</div>
									<div class="shopdsr-score">
										<span class="shopdsr-score-con">4.8</span>
										<i class="fa fa-arrow-up red ss-up"></i>
									</div>
								</div>
								<div class="shopdsr-item">
									<div class="shopdsr-title">
										物 流
									</div>
									<div class="shopdsr-score">
										<span class="shopdsr-score-con">4.9</span>
										<i class="fa fa-arrow-up red ss-up"></i>
									</div>
								</div>
								<i class="fa fa-caret-down s-down"></i>
							</div>
						</div>
						<div class="shopwt">
							<div class="shopwt-title">手机逛</div>
							<i class="fa fa-qrcode shopwt-fa"></i>
							<i class="fa fa-caret-down s-down shopwt-down"></i>
						</div>
					</div>
                    <div class="header-search">
						<div class="search-form"></div>
						<div class="mall-search">搜天猫</div>
						<div class="shop-search">搜本店</div>
					</div>
					</div>
				</div>
			</header>
			<div id="content">
				<div id="detail">
					<div id="J_DetailMeta" class="tm-detail-meta tm-clear" role="form">
						<div class="tm-clear1">
							<div class="tb-property">
								<div class="tb-wrap">
									<div class="tb-detail-hd">
										<h1 data-spm="1000983">
					 						{{main_info_html[0]}}</h1>
										<div class="tb-detail-sellpoint"></div>
									</div>
									<div class="tm-fcs-panel">
										<div class="tm-coupon-panel"><img height="16" src="../static/img/gouwuquan.png">全天猫实物商品通用
											<a id="J_guaGuaKaPc" target="_blank">去刮券</a>
										</div>
										<dl class="tm-price-panel" id="J_StrPriceModBox">
											<dt class="tb-metatit">价格</dt>
											<dd><span class="tm-price">{{main_info_html[1]}}</span></dd>
										</dl>
										<dl class="tm-promo-panel tm-promo-cur" id="J_PromoPrice" data-label="促销价"><dt class="tb-metatit">促销价</dt>
											<dd>
												<div class="tm-promo-price"> <em class="tm-yen">{{main_info_html[1]}}</em>

													<em class="tm-promo-type ">惊喜价</em> &nbsp;&nbsp; </div>
												<p> </p>
											</dd>
										</dl>
									</div>
									<div class="tb-meta">
										<dl class="tm-delivery-panel" id="J_RSPostageCont"><dt class="tb-metatit">运费</dt>
											<dd>
												<div class="tb-postAge"><span class="tb-deliveryAdd" id="J_deliveryAdd">{{main_info_html[4]}} 至  武汉     快递: 0.00 </span>
												</div>
											</dd>
										</dl>

									</div>
									<ul class="tm-ind-panel">
										<li class="tm-ind-item tm-ind-sellCount" data-label="月销量">
											<div class="tm-indcon"><span class="tm-label">月销量</span><span class="tm-count">{{main_info_html[2]}}</span></div>
										</li>
										<li class="tm-ind-item tm-ind-reviewCount canClick tm-line3" id="J_ItemRates">
											<div class="tm-indcon"><span class="tm-label">累计评价</span><span class="tm-count">4292</span></div>
										</li>

										<li class="tm-ind-item tm-ind-emPointCount" data-spm="1000988">
											<div class="tm-indcon">
												<div class="tm-indcon"><span class="tm-label">送天猫积分</span><span class="tm-count">110</span></div>
											</div>
										</li>
									</ul>

									<div class="tb-key">
										<div class="tb-skin">
											<div class="tb-sku">

												<dl class="tb-prop tm-sale-prop tm-clear ">
													<dt class="tb-metatit">类型</dt>
													<dd>
														<ul  class="tm-clear J_TSaleProp">

															<li>
																<a href="#" role="button">
																	<span>类型一</span>
																</a>
																<li>
																	<a href="#" role="button" tabindex="0">
																		<span>类型二</span>
																	</a>
																</li>

																<li>
																	<a href="#" role="button" tabindex="0">
																		<span>类型三</span>
																	</a>
																</li>
														</ul>
													</dd>
												</dl>

												<dl class="tb-amount tm-clear">
													<dt class="tb-metatit">数量</dt>
													<input type="text" class="tb-text mui-amount-input" value="1" maxlength="8" title="请输入购买量">

												</dl>
												<div class="tb-action tm-clear">
													<div class="tb-btn-buy tb-btn-sku">
														<a id="J_LinkBuy" href="#" rel="nofollow" data-addfastbuy="true" title="点击此按钮，到下一步确认购买信息。" role="button">立即购买</a>
													</div>
													<div class="tb-btn-basket tb-btn-sku">
														<a href="#" rel="nofollow" id="J_LinkBasket" role="button">加入购物车</a>
													</div>
												</div>
											</div>
										</div>
									</div>
									<div class="tm-ser tm-clear">
										<dl class="tm-clear">
											<dt class="tb-metatit">服务承诺</dt>
											<dd class="tm-laysku-dd">
												<ul class="tb-serPromise">
													<li>
														<a href="#">正品保证</a>
													</li>
													<li>
														<a href="#">极速退款</a>
													</li>
													<li>
														<a href="#">七天无理由退换</a>
													</li>
												</ul>
											</dd>
										</dl>
									</div>

								</div>
							</div>
							<!----------------------------------左边部分---------------------------------*/-->
							<div class="tb-gallery ">
								<div class="tb-booth ">
									<img id="J_ImgBooth" alt="{{main_info_html[0]}}" src="{{main_info_html[5]}}">
									<div class="tb-thumb-warp ">
										<a class="tb-thumb-left "></a>
										<div class="tb-thumb-content ">
											<ul id="J_UlThumb" class="tb-thumb tm-clear ">
												<li>
													<a href="# "><img src="../static/img/T1.jpg " alt="商品预览图 "></a>
												</li>
												<li class="tb-selected ">
													<a href="# "><img src="../static/img/T2.jpg " alt="商品预览图 "></a>
												</li>
												<li>
													<a href="# "><img src="../static/img/T3.jpg " alt="商品预览图 "></a>
												</li>
												<li>
													<a href="# "><img src="../static/img/T4.jpg " alt="商品预览图 "></a>
												</li>
												<li>
													<a href="# "><img src="../static/img/T5.jpg " alt="商品预览图 "></a>
												</li>
											</ul>
										</div>
									</div>
									<p class="tm-action tm-clear ">
										<a id="J_IShare " class="iShare tm-event " href="# ">分享</a>
										<a id="J_AddFavorite " href="# " class="favorite "><span>收藏商品</span></a>
										<span id="J_CollectCount ">（62954人气）</span>
									</p>
								</div>

							</div>
						</div>

					<div class="wrapCon">
                        <div class="recommend_tp">
					        <span>买过此商品的人还买</span>
				        </div>
							<div class="interCon">
								<ul>
									{% for i, info in rec_info_html.items(): %}
									<!--名称  0-->
									<!--价格  1-->
									<!--成交量  2-->
									<!--店铺  3-->
									<!--地址  4-->
									<!--图片  5-->
										<li>
											<div class="img">
												<a href="/{{i}}">
													<img src="{{info[5]}}" />
                                                    <p>{{info[1]}}</p>
												</a>
											</div>
										</li>
									{% endfor %}
								</ul>
							</div>

						</div>
					</div>
				</div>
				<!------------------------------------到这里---------------------------------*/-->
			</div>
			<div class="recommend">
				<div class="recommend_tp">
					<span>猜你喜欢</span>
					<a class="ra" href="">更多</a>
				</div>
				<div class="bd">
					<div class="item">
                        {% for j, info in rec2_info_html.items(): %}
									<!--名称  0-->
									<!--价格  1-->
									<!--成交量  2-->
									<!--店铺  3-->
									<!--地址  4-->
									<!--图片  5-->
						<div class="interitem">
                            <a href="/{{j}}">
							<img src="{{info[5]}}" />
							<p class="one">{{info[0]}}</p>
							</br></a>
							<p class="two">{{info[1]}}</p>
						</div>
                        {% endfor %}
					</div>
				</div>
			</div>

			<footer>
				<div class="footer-tmallinfo">
					<a href="#">关于天猫&nbsp;</a>
					<a href="#">帮助中心&nbsp;</a>
					<a href="#">开放平台&nbsp;</a>
					<a href="#">诚聘英才&nbsp;</a>
					<a href="#">联系我们&nbsp;</a>
					<a href="#">网站合作&nbsp;</a>
					<a href="#">法律声明&nbsp;</a>
					<a href="#">隐私权政策&nbsp;</a>
					<a href="#">知识产权&nbsp;</a>
					<a href="#">廉政举报&nbsp;</a>
					<a href="#">规则意见征集&nbsp;</a>
				</div>
				<div class="footer-otherlink">
					<a href="#">阿里巴巴集团&nbsp;</a>
					<a>|</a>
					<a href="#">淘宝网&nbsp;</a>
					<a>|</a>
					<a href="#">天猫&nbsp;</a>
					<a>|</a>
					<a href="#">聚划算&nbsp;</a>
					<a>|</a>
					<a href="#">全球速卖通&nbsp;</a>
					<a>|</a>
					<a href="#">阿里巴巴国际交易市场&nbsp;</a>
					<a>|</a>
					<a href="#">1688&nbsp;</a>
					<a>|</a>
					<a href="#">阿里妈妈&nbsp;</a>
					<a>|</a>
					<a href="#">飞猪&nbsp;</a>
					<a>|</a>
					<a href="#">阿里云计算&nbsp;</a>
					<a>|</a>
					<a href="#">AliOS&nbsp;</a>
					<a>|</a>
					<a href="#">阿里通信&nbsp;</a>
					<a>|</a>
					<a href="#">万网&nbsp;</a>
					<a>|</a>
					<a href="#">高德&nbsp;</a>
					<a>|</a>
					<a href="#">UC&nbsp;</a>
					<a>|</a>
					<a href="#">友盟&nbsp;</a>
					<a>|</a>
					<a href="#">虾米&nbsp;</a>
					<a>|</a>
					<a href="#">钉钉&nbsp;</a>
					<a>|</a>
					<a href="#">支付宝&nbsp;</a>
				</div>
				<div class="footer-copyright">
					<div class="div_1">
						<p>
							增值电信业务经营许可证:&nbsp;
							<a href="#">浙B2-20110446</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 网络文化经营许可证:&nbsp;
							<a href="#">浙网文[2015]0295-065号</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
							<a href="#">12318举报</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 出版物网络交易平台服务经营备案证:&nbsp;
							<a href="#">新出发浙备字第001号</a>
						</p>
					</div>
					<div class="div_2">
						<p>
							互联网违法和不良信息举报电话：0571-81683755 blxxjb@alibaba-inc.com&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 互联网药品信息服务资质证书编号：&nbsp;
							<a href="#">浙-（经营性）-2017-0005</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
							<a href="#"><img src="img/TB1yEqRPXXXXXXPXpXXXXXXXXXX-20-20.png" />浙公网安备 33010002000120号</a>
							<br />
							<a href="#">（浙）网械平台备字[2018]第00002号</a>
							<br />
							<a href="#">© 2003-2018 TMALL.COM 版权所有</a>
						</p>
					</div>
				</div>
			</footer>
		</div>
	</body>

</html>